html, body {
    font-family: Microsoft YaHei;
    position: relative;
}

body #navbarScroll {
    background-color: rgb(23, 91, 122);
}

/*navbar*/

.navbar {
    width: auto;
}

.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-brand {
    font-size: 1.7em;
    margin-top: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    padding: 20px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: rgb(36, 137, 184);
    /* transition: 0.7s all linear; */
    height: 100%;
}


.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 380px;
}
    /*CAROUSEL*/
    .carousel {
        margin-top: 55px;
    }
    .carousel-indicators li {
        border: 1px solid #fff;
    }
    /*news*/
    section.bg-primary {
        background-color: rgb(23, 91, 122);
    }
    .news-section {
        font-family: Microsoft YaHei;
        padding-top: 20px;
        background: white;
    }
    /* Form Style */
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
    }
    #accordion .panel {
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 5px;
    }
    #accordion .panel-heading {
        padding: 0;
        border-radius: 0;
        text-align: center;
        border: none;
    }
    #accordion .panel-title a {
        display: block;
        padding: 15px;
        font-size: 16px;
        transition: all 0.5s ease 0s;
        line-height: 2rem;
        background: #bbb;
        color: #333;
        font-weight: bold;
    }
    #accordion .panel-title a:hover {
        color: #fff;
        background: #555;
    }
    #accordion .panel-body {
        font-size: 14px;
        color: #666;
        background: #ffffff;
        padding: 15px 20px;
        line-height: 25px;
        border: 1px solid #bbb;
        position: relative;
    }
    #accordion .panel-body:after {
        content: "";
        position: absolute;
        top: -30px;
        left: 40px;
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
    }
    /*teacher*/
    .teacher-section {
        font-family: Microsoft YaHei;
        padding-top: 20px;
        padding-bottom: 60px;
        text-align: center;
        background: white;
    }
    h3 {
        color: #427A9D;
    }
    .hover {
        color: black;
    }
    .hover:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 18px;
        margin-top: -25px;
    }
    /*curriculumInformation*/
    .curriculum-section {
        background-color: white;
    }
    .membership-pricing-table table {
        margin: 1.7% auto;
    }
    .glyphicon-ok {
        color: #209e61;
        font-size: 20px;
        font-weight: bold;
    }
    .glyphicon-remove {
        color: #a93717;
        font-size: 20px;
        font-weight: bold;
    }
    .membership-pricing-table table {
        width: 80%;
    }
    .membership-pricing-table table .icon-no, .membership-pricing-table table .icon-yes {
        font-size: 22px;
    }
    .membership-pricing-table table .plan-header {
        text-align: center;
        font-size: 23px;
        border: 1px solid #ccc;
        padding: 20px 25px;
        background-color: #bbb;
        color: #333
    }
    .membership-pricing-table table td {
        text-align: center;
        width: 15%;
        padding: 15px 10px;
        background-color: white;
        font-size: 23px;
        box-shadow: 0 1px 0 #fff inset;
        color: black;
    }
    .membership-pricing-table table, .membership-pricing-table table td {
        border: 1px solid #ccc
    }
    /*aboutUs*/
    .project {
        margin-bottom: 30px;
        vertical-align: top;
        margin-right: 30px;
        float: left;
        cursor: pointer;
        width: 100%;
    }
    .project figure {
        position: relative;
        display: inline-block;
    }
    .project figure img {
        width: 100%;
    }
    .btn-warning bnt-action {
        margin: 0% 0% auto;
    }
    figcaption .project-details {
        display: block;
        font-size: 16px;
        /*line-height: 33px;*/
        color: #000;
        /*height: 27px;*/
        width: 100%;
        margin: 0 auto 5px auto;
        /*margin-bottom: 5px;*/
        overflow: hidden;
    }
    .project figure:hover figcaption {
        background: #427A9D;
    }
    .project figure:hover figcaption .project-details {
        color: #fff;
    }
    figcaption .project-price {
        position: absolute;
        right: 15px;
        top: 12px;
        font-size: 22px;
        text-align: right;
        margin-top: 8px;
        letter-spacing: -1px;
        -webkit-font-smoothing: antialiased;
    }
    figcaption .project-creator {
        font-size: 13px;
        color: #545454;
        display: block;
    }
    figcaption .project-creator {
        font-size: 13px;
        color: #545454;
        display: block;
    }
    .project figure .actions button {
        padding: 13px 20px;
        font-size: 16px;
        top: 32%;
        position: absolute;
        left: 50%;
        width: 90%;
        margin-left: -45%;
        line-height: 18px;
        letter-spacing: 1px;
    }
    .project figure:hover .actions {
        background-color: #427A9D;
        top: 50%;
        font-size: 1.5em;
        font-weight: 700;
    }
    .project figure .actions {
        display: block;
        position: absolute;
        bottom: 0px;
        top: 70%;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 1;
        background-color: rgba(29, 29, 29, .5);
        -ms-transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: white;
        font-size: 1.5em;
        padding: 2%;
        font-weight: bold;
        text-align: center;
    }
    @media (min-width: 992px) {
        .project figure .actions {
            top: 60%;
            left: 0;
            right: 0;
            font-size: 1.3em;
            padding: 2%;
        }
        .project figure:hover .actions {
            top: 50%;
            font-size: 1.5em;
            padding-top: 0%;
        }
    }
    @media (min-width: 1200px) {
        .project figure .actions {
            top: 70%;
            left: 0;
            right: 0;
            font-size: 1.7em;
            padding: 2%;
        }
        .project figure:hover .actions {
            top: 50%;
            font-size: 2em;
        }
        .project {
            width: 80%;
        }
    }
    /*login*/
    @media (min-width: 769px) {
        #login, #forgetPW {
            margin-top: 9%;
        }
    }
    @media (min-width: 300px) and (max-width:768px) {
        #login, #forgetPW {
            margin-top: 20%;
            margin-left: 13%;
        }
    }
    .modal-login {
        color: #636363;
        width: 350px;
    }
    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }
    .modal-login h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }
    .modal-login .form-control:focus {
        border-color: #427A9D;
    }
    .modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px;
    }
    .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        justify-content: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
    }
    .modal-login .modal-footer a {
        color: #999;
    }
    .modal-login .avatar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #427A9D;
        padding: 15px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .modal-login #forgetPng {
        background: rgb(218, 126, 84);
    }
    .modal-login .avatar img {
        width: 100%;
    }
    .modal-login.modal-dialog {
        margin-top: 80px;
    }
    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
        background: #427A9D;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }
    .modal-login .btn:hover, .modal-login .btn:focus {
        background: rgb(45, 97, 129);
        outline: none;
    }
    .modal-login #sendPW {
        background: rgb(218, 126, 84);
    }
    .modal-login #sendPW:hover, .modal-login #sendPW:focus {
        background: rgb(184, 107, 71);
        outline: none;
    }
    /*contactUs*/
    #contactUs {
        margin-top: 5%;
        border-radius: 4px;
    }
    .modal-header {
        text-align: center;
        margin-top: 1%;
    }
    h1 {
        margin-top: -2%;
        margin-bottom: -2%;
    }
    .modal-body h3 {
        line-height: 20%;
    }
    .modal-body h3 i {
        line-height: 20%;
        line-height: 6%;
        color: #427A9D;
    }
    .modal-body p {
        margin-top: 6%;
        line-height: 35%;
        font-size: 19px;
    }
    button.close {
        font-size: 30px;
        position: absolute;
        top: -10px;
        right: 20px;
    }
    @media (min-width: 800px) {
        iframe {
            border: 0;
            width: 100%;
            height: 375px;
        }
    }
    @media(min-width: 300px) and (max-width:768px) {
        iframe {
            border: 0;
            width: 100%;
            height: 100%;
        }
    }
    /*footer*/
    footer {
        background-color: rgb(23, 91, 122);
        padding: 5px 0px;
    }
    .logo {
        color: #FFF;
        font-weight: 700;
        font-size: 30px;
    }
    footer p {
        margin: 1% auto;
        color: #FFF;
    }